<div class="outer">
    <div class="inner">
        <nav class="navbar navbar-inverse nav-custom" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand home" (click)="setActive('home')">The Sixth Man</div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="{{getActive('mydraft')}} navbar-custom" (click)="setActive('mydraft')">My Draft</li>
                    <li class="{{getActive('draftsheet')}} navbar-custom" (click)="setActive('draftsheet')">Draft Sheet</li>
                    <li class="{{getActive('results')}} navbar-custom" (click)="setActive('results')">Results</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-custom" (click)="setActive('user')"><span class="glyphicon glyphicon-user"></span></li>
                </ul>
            </div>
        </nav>
        <div class="landing" *ngIf="homeActive">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">The Sixth Man</h1>
                </div>
            </div>
            <div class = "button-fields">
                <button mat-raised-button class="about-us" (click)="setActive('info')">About Us</button>
                <button mat-raised-button class="try-me" (click)="setActive('mydraft')">Try It Out</button>
            </div>
        </div>
        <div class="container" *ngIf="myDraftActive">
            <div class="row">
                <form #inputForm="ngForm" autocomplete="off" class="custom-form">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="leagueNew">League Name</label>
                            <input type="text" class="form-control input-lg" id="leagueNew" name="leagueNew" required [ngClass]="{'error': leagueNew.errors && leagueNew.errors.required && inputForm.submitted}"
                                #leagueNew="ngModel" [(ngModel)]="inputModel.leagueName">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="ownerNew">Owner Name</label>
                            <input type="text" class="form-control input-lg" id="ownerNew" name="ownerNew" required [ngClass]="{'error': ownerNew.errors && ownerNew.errors.required && inputForm.submitted}"
                                #ownerNew="ngModel" [(ngModel)]="inputModel.owner">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="teamNew">Team Name</label>
                            <input type="text" class="form-control input-lg" id="teamNew" name="teamNew" required [ngClass]="{'error': teamNew.errors && teamNew.errors.required && inputForm.submitted}"
                                #teamNew="ngModel" [(ngModel)]="inputModel.teamName">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="draftType1">Select Draft Type</label>
                            <select class="form-control input-lg" id="draftType1" name="draftType1" required [ngClass]="{'error': draftType1.errors && draftType1.errors.required && inputForm.submitted}"
                                #draftType1="ngModel" [(ngModel)]="draftType">
                                <option value="mock">Mock</option>
                                <option value="live">Live</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="scoringFormat1">Select Scoring Format</label>
                            <select class="form-control input-lg" id="scoringFormat1" name="scoringFormat1" required [ngClass]="{'error': scoringFormat1.errors && scoringFormat1.errors.required && inputForm.submitted}"
                                #scoringFormat1="ngModel" [(ngModel)]="scoringFormat">
                                <option value="h2h">Head-to-Head</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="categoriesNew">Categories (between 8 and 15)</label>
                            <input type="number" class="form-control input-lg" id="categoriesNew" name="categoriesNew" required [ngClass]="{'error': categoriesNew.errors && categoriesNew.errors.required && inputForm.submitted}"
                                #categoriesNew="ngModel" [(ngModel)]="inputModel.categories" min="8" max="15">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="draftFormat1">Select Draft Format</label>
                            <select class="form-control input-lg" id="draftFormat1" name="draftFormat1" required [ngClass]="{'error': draftFormat1.errors && draftFormat1.errors.required && inputForm.submitted}"
                                #draftFormat1="ngModel" [(ngModel)]="draftFormat">
                                <option value="snake">Snake</option>
                                <option value="standard">Standard</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="sizeNew">League Size (between 8 and 20)</label>
                            <input type="number" class="form-control input-lg" id="sizeNew" name="sizeNew" required [ngClass]="{'error': sizeNew.errors && sizeNew.errors.required && inputForm.submitted}"
                                #sizeNew="ngModel" [(ngModel)]="inputModel.leagueSize" min="8" max="20">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="draftPosNew">Draft Position</label>
                            <input type="number" class="form-control input-lg" id="draftPosNew" name="draftPosNew" required [ngClass]="{'error': draftPosNew.errors && draftPosNew.errors.required && inputForm.submitted}"
                                #draftPosNew="ngModel" [(ngModel)]="inputModel.draftPos" min="1">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="teamSizeNew">Team Size (between 8 and 20)</label>
                            <input type="number" class="form-control input-lg" id="teamSizeNew" name="teamSizeNew" required [ngClass]="{'error': teamSizeNew.errors && teamSizeNew.errors.required && inputForm.submitted}"
                                #teamSizeNew="ngModel" [(ngModel)]="inputModel.teamSize" min="8" max="20">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <label class="mb-2 mt-2 lb-lg" for="puntNew">Categories To Punt (comma separated)</label>
                            <input type="text" class="form-control input-lg" id="puntNew" name="puntNew" required [ngClass]="{'error': puntNew.errors && puntNew.errors.required && inputForm.submitted}"
                                #puntNew="ngModel" [(ngModel)]="inputModel.punt">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" (click)="getInput(inputForm)" class="btn btn-warning btn-lg submit-input">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container" *ngIf="draftSheetActive">
            <div class="row">
                <div class="col-12" *ngIf="inputsSet" style="margin-top: 60px;">
                    <h1 class="text-center">Draft Settings</h1>
                </div>
                <div class="col-12" *ngIf="!inputsSet" style="margin-top: 60px;">
                    <h1 class="text-center">No Inputs Set</h1>
                </div>
                <div class="col-12">
                    <table class="table table-hover table-striped" style="background-color: grey;">
                        <thead>
                            <tr>
                                <th scope="col">INDEX</th>
                                <th scope="col">PLAYER</th>
                                <th scope="col">POS</th>
                                <th scope="col">AGE</th>
                                <th scope="col">FG%</th>
                                <th scope="col">FT%</th>
                                <th scope="col">3P</th>
                                <th scope="col">PTS</th>
                                <th scope="col">TRB</th>
                                <th scope="col">AST</th>
                                <th scope="col">STL</th>
                                <th scope="col">TOV</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let player of players">
                            <tr *ngIf="player.drafted === 0">
                                <td>{{player.index}}</td>
                                <td>{{player.player}}</td>
                                <td>{{player.pos}}</td>
                                <td>{{player.age}}</td>
                                <td>{{player["fg%"]}}</td>
                                <td>{{player["ft%"]}}</td>
                                <td>{{player["3P"]}}</td>
                                <td>{{player.pts}}</td>
                                <td>{{player.trb}}</td>
                                <td>{{player.ast}}</td>
                                <td>{{player.stl}}</td>
                                <td>{{player.tov}}</td>
                                <td><button class="btn btn-danger" (click)="removePlayer(player)">Remove Player</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="resultsActive">
            <div class="row">
                <div class="col-12" style="margin-top: 60px;">
                    <table class="table table-hover table-striped" style="background-color: grey;">
                        <thead>
                            <tr>
                                <th scope="col">INDEX</th>
                                <th scope="col">PLAYER</th>
                                <th scope="col">POS</th>
                                <th scope="col">AGE</th>
                                <th scope="col">FG%</th>
                                <th scope="col">FT%</th>
                                <th scope="col">3P</th>
                                <th scope="col">PTS</th>
                                <th scope="col">TRB</th>
                                <th scope="col">AST</th>
                                <th scope="col">STL</th>
                                <th scope="col">TOV</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let player of results">
                            <tr>
                                <td>{{player.index}}</td>
                                <td>{{player.player}}</td>
                                <td>{{player.pos}}</td>
                                <td>{{player.age}}</td>
                                <td>{{player["fg%"]}}</td>
                                <td>{{player["ft%"]}}</td>
                                <td>{{player["3P"]}}</td>
                                <td>{{player.pts}}</td>
                                <td>{{player.trb}}</td>
                                <td>{{player.ast}}</td>
                                <td>{{player.stl}}</td>
                                <td>{{player.tov}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="userActive">
            <div class="row">
                <div class="col-12" style="margin-top: 60px;">
                    <h1 class="text-center">User Page</h1>
                </div>
            </div>
        </div>
        <div class= "info-page" *ngIf="infoActive">
            <div class="row">
                <div class="col-12">
                    <h1 class = "text-center" id="info-header">About Us</h1>
                </div>
            </div>
            <div class= "images">
                <div class = "column">
                <img src="assets/alexis-img.JPG" class="image" id="alexis-bio"  (mouseenter)= "mouseoverAlexis()" (mouseleave)="mouseoutAlexis()" style="width:100%" height="400">
                <div class="middle" #middleA>
                    <div class = "text">Alexis Doreste</div>
                </div>
                </div>
                <div class = "column">
                <img src="assets/brennan-img.JPG" class="image" id="brennan-bio" (mouseenter)= "mouseoverBrennan()" (mouseleave)="mouseoutBrennan()"style="width:100%" height="400">
                <div class="middleB" #middleB>
                    <div class = "text">Brennan Burke</div>
                </div>
                </div>
                <div class = "column">
                <img src="assets/keara-img.jpeg" class="image" id="keara-bio" (mouseenter)= "mouseoverKeara()" (mouseleave)="mouseoutKeara()" style="width:100%" height="400">
                <div class="middleK" #middleK>
                    <div class = "text">Keara Bird</div>
                </div>
                </div>
            </div>
    </div>
</div>
