.outer {
    background-image: url('../../../assets/trVOxG.jpg');
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.inner {
    padding: 20px;
}

.top {
    margin-top: 10px;
}
.navbar-header{
    font-family: Montserrat;
}
.navbar-custom {
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    font-family: Montserrat;

}

.landing {
    padding: 70px 0;
    text-align: center;
    font-family: Montserrat;
}

.container{
    font-family: Montserrat;
}
.navbar-custom:hover {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.navbar-active {
    background-color: #080808;
    color: white;

}

.navbar-active:hover {
    background-color:  #080808;
    cursor: text;
}

.home:hover {
    cursor: pointer;
}